# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
dist/
build/
eggs/

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
.env

# Virtual environment
venv/
env/
ENV/
.venv/
.myenv/
myenv/

# IDE and editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.iml

# Operating system files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
.coverage
htmlcov/
